POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=bank_db
POSTGRES_USER=bank
POSTGRES_PASSWORD=bank

# Бизнес-пороги ATM (опционально)
LOW_CASH_PCT=0.20
WARNING_CASH_PCT=0.40
DEFAULT_CAPACITY=400000000
